body {
	background-color: beige;
}

h1 {
	font-size: 5vw;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 1%;
}

h2 {
	font-size: 2vw;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: auto;
	padding: 1%;
}

h3 {
	font-size: 2vw;
	margin: auto;
	padding: 1%;
}

h4 {
	font-size: 2vw;
	margin: auto;
	padding: 1%;
}

p {
	font-size: 2vw;
	margin: auto;
	padding: 1em
}

li {
	font-size: 2vw;
	margin: auto;
	padding: 2%;
}